.logo{
    margin: 0 auto 20px auto;
    padding-left: 10px;
    max-width: 260px;
    a{
        display: block;
    }
}

.wrapper, .sitenav, .footer{
    position: relative;
    z-index: 2;
}

.sitenav{
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;

    ul, li{
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    ul{
        background: url( img/nav_header.png ) top center no-repeat;
        padding-top: 28px;
        width: 90%;
        margin: 0 auto;
        display: none;
    }

    li{
        background: rgba( black, 0.45 );
        border: 1px solid $white;
        border-top: none;

        a{
            display: block;
            padding: 10px 16px 16px 16px;
            text-decoration: none;
            font-size: 0.9em;

            &:hover{
                background: $white;
            }
        }
    }

    @media screen and ( min-width: 800px ){   
        padding: 20px;
        width: 170px;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
    }
}

.navicon{
    cursor: pointer;
    width: 32px;
    position: relative;
    margin: 0 auto 10px auto;

    a{
        display: block;
        padding-top: 10px;
        height: 14px;
        span{
            text-indent: -20000px;
            background: $white;
            display: block;
            position: relative;
            height: 4px;
            margin: 0;

            &:after, &:before{
                position: absolute;
                background: $white;
                content: "";
                display: block;
                height: 100%;
                width: 100%;
                left: 0;
            }

            &:before{
                top: -10px;
            }

            &:after{
                bottom: -10px;
            }
        }
    }
}

.wrapper{

    padding-bottom: 300px;

    > section{
        width: 85%;
        margin: 0 auto;
    }

    @media screen and ( min-width: 800px ){
        padding-left: 220px;
    }
}

.button{
    background: $white;
    display: block;
    text-align: center;
    font-size: 0.9em;
    padding: 2px 8px 8px 8px;
    text-decoration: none;
    height: 24px;
    line-height: 24px;
    color: $link;

    &:hover{
        color: $white;
        background: $link;
    }

    &.directionalright{
        padding-right: 24px;
        position: relative;

        &:after, &:before{
            content: "";
            display: block;
            background: $link;
            width: 2px;
            height: 6px;
            position: absolute;
            right: 12px;
        }

        &:before{
            @include rotate( -26deg );
            top: 11px;
        }

        &:after{
            @include rotate( 26deg );
            top: 16px;
        }

        &:hover{
            &:after, &:before{
                background: $white;
            }
        }
    }

    &.directionaldown{
        padding-bottom: 20px;

        &:after, &:before{
            content: "";
            display: block;
            background: $link;
            width: 30%;
            height: 2px;
            position: absolute;
            bottom: 10px;
        }

        &:before{
            @include rotate( 10deg );
            left: 20.5%;
        }

        &:after{
            @include rotate( -10deg );
            right: 20.5%;
        }

        &:hover{
            &:after, &:before{
                background: $white;
            }
        }
    }
}

.sectiontitle{
    text-transform: uppercase;
    border: 1px solid $white;
    border-top: none;
    line-height: 1em;
    background: rgba( $black, 0.4 );
    padding: 10px 18px 18px 18px;
    margin: 0;
    float: left;
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    @media screen and ( min-width: 1000px ){
        
        padding: 20px 36px 36px 36px;
        font-size: 2.6em;
        display: inline-block;
        width: auto;
    }
}

.sectionsubtitle{
    font-size: 0.85em;
}

.sectioncontent{ }

.content{
    font-size: 0.85em;
    clear: both;
}

.page{
    padding-bottom: 400px;
    border-top: 1px solid $white;

    .content{
        padding-top: 40px;
        
        @media screen and ( min-width: 1000px ){
            //padding-top: 120px;
        }
    }
}








